@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';


/*{
    border: 2px solid pink;
}*/


body {
    background-color: rgb(255, 255, 255);
}

.enunciado{
    text-align: center;
    color: rgba(255, 152, 152, 0.979);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    width: 1000px;
    height: 480px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    text-align: center;
    margin-top: 40px;




}

.padre {
    width: 1000px;
    height: 180px;
    display: flex;
    justify-content: space-between;






}

.tipo {
    
    min-width: 100px ;
    min-height: 100px;
    display: flex;
    justify-content: center;
    
}

#australophitecus {

    width: 100px;
    height: 100px;
    border-radius: 125px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

}

#habilis {

    width: 100px;
    height: 100px;
    border-radius: 125px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#erectus {

    width: 100px;
    height: 100px;
    border-radius: 125px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#neanderthalensis {

    width: 100px;
    height: 100px;
    border-radius: 125px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#sapiens {

    width: 100px;
    height: 100px;
    border-radius: 125px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}






.craneo {
    margin: 18px;
    height: 6rem;
    
}




//niveles

.nivel {
    width: 70px;
    height: 45px;
    box-shadow: 0px 4px 15px rgba(144, 91, 160, 0.25);
    display: flex;
    display: inline-block;
    background-color: rgba(255, 152, 152, 0.979);
    color: white;
    border-radius: 10%;

    p {
        margin: auto;
        background-color: rgb(255, 255, 255);
        color: black;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        height: 24px;

    }

}

//mascota

.icon {
    display: flex;
    align-items: center;
    justify-content: center;


    .pic {
        width: auto;
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9px;
    }
}

.footer{

    display: grid;
    align-items: center;
    align-content: center;
}

#resultado {
    text-align: center;
    font-size: 20px;
    align-content: center;
    padding-right: 28px;

}

//botón de regreso al menú y botón de hecho

.boton {
    display: flex;
    justify-content: space-between;
    padding-right: 260px;
    padding-left: 260px;
    align-items: center;

}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 184, 184, 0.938);
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    transition: background-color 350ms ease;
    border: 0;
    font-weight: bold;


    .label {
        margin-right: 1rem;
    }

    .fa {
        font-size: 1.2rem;
    }

    &:hover {
        color: inherit;
        background-attachment: rgb(23, 146, 223);
        transition: background-color 350ms ease;
        
    }

}

//cronómetro

#contenedor {
    margin: 35px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow:
        inset 4px 4px 10px #e5e9f0,
        inset -4px -4px 10px #ffffff;
    height: 45px;
    width: 170px;
    border-radius: 8px;

}

.reloj {
    float: left;
    font-size: 18px;
    font-family: monospace;
    color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 45px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.25px;



    border: none;
    outline: none;
    background-color: transparent;
}



//ventana emergente 


.modal {
    visibility: hidden;

    .modal_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(36, 48, 60, 0.65);
    }


}





.modal_pop {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 2rem auto 1fr;




    .modal_overlay {
        grid-area: 1 / 1 / -1 / -1;
        background-color: rgba(36, 48, 60, 0.65);

    }

    .modal_holder {
        grid-area: 2 / 2 / span 1 / span 1;
        background-color: rgb(21, 32, 43);
        border-radius: 1rem;
        height: 410px;
        margin-top: 90px;

        .modal_header {
            padding: 1.5rem 2rem;
            border-bottom: 1px solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            font-size: 22px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;

        }

        .modal_body {
            padding: 0rem 3rem 1rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



            .pop {
                border: 0;
                height: 190px;
                margin-top: 50px;


            }
        }

        .pie {

            display: flex;
            justify-content: center;


        }
    }

    &.opened {
        visibility: visible;
    }
}